<div class="jumbotron">
  <div class="container">

<h3>  Edit <%= resource_name.to_s.humanize %></h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control form-control-sm ml-3 w-50" %>
      
    </div>
     
  <div class="field"> 
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-sm ml-3 w-50" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control form-control-sm ml-3 w-50", placeholder:"Password (leave blank if you don't want to change it)"  %>
    
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control form-control-sm ml-3 w-50", placeholder:"Password confirmation" %>
  </div>

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control form-control-sm ml-3 w-50", placeholder:"Current password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class:"btn btn-light btn-block" %>
  </div>
<% end %>

<br/>
<h4>Cancel my account</h4>

<%= button_to "Cancel my account" ,registration_path(resource_name), class:"btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %>
</div>
</div>