<div class="jumbotron">
  <div class="container">

<!-- Button trigger modal -->
<form class="form-inline d-flex justify-content-center md-form form-sm active-cyan active-cyan-2 mt-2">
  
  <i class="fa fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75" placeholder="Search by ingredient " 
    aria-label="Search" data-toggle="modal" data-target="#basicExampleModal">
  </form>

</br>
</br>
<!-- Modal -->
<div class="modal fade left" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-left" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title w-100 font-weight-bold"  id="myModalLabel">Ingredients</h4>
      </div>

      <div class="modal-body">
        <p>
            <%= form_tag(searchbyingt_recipes_path, :method => "get") do %> 
            <% @ingredients.each do |ingredient| %>
            <label>
             <%= check_box_tag 'ingredient_ids[]', ingredient.id -%>
             <%= ingredient.name-%>
           </label>
            <% end %>
       </p>
      </div>

        <%= submit_tag ("Search"), class:"btn btn-link btn-lg btn-block" %>
        <% end %>
    
    </div>
  </div>
</div>


<p id="notice"><%= notice %></p>

<div class="row row-cols-1 row-cols-md-3">
<% @recipes.each do |recipe| %>
<div class="col mb-4">
<div class="card">
   <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <div class="card-body">
        <!--Title-->
        <h4 class="card-title"><%= recipe.title %></h4>
        <!--Text-->
        <p class="card-text"><div class="a"><%= recipe.prep %></div></p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <p><%= link_to 'Show', recipe , class:"btn winter-neva-gradient"%></p>

      </div>
    </div>
</div>

  <% end %>

</div>
</div>
</div>