<div class="jumbotron">
  <div class="container">
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="center">

              <p id="notice"><%= notice %></p>
              </br>

              <div class="content">
                <br />

                <div class="row">
                  <div class="col"></div>

                  <div class="col">
                       <%= image_tag(@recipe.image.thumb.url, alt: 'Image') if @recipe.image? %>
                  </div>

                    <div class="col-md-6">

                      <div class="container">

                        <div class="title">
                          <h1><%= @recipe.title %></h1>
                        </div>
                        <br/>

                         <div>
                          <h7><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
                              By <%= @recipe.user.name %>
                          </h7>
                        </div>
                        <br />

                         <div>
                          <h7><i class="fa fa-clock-o fa-lg cyan-text" aria-hidden="true"></i>
                          <%= @recipe.preptime %>
                          </h7>
                        </div>
                        <br />

                         <div>
                          <h7><i class="fa fa-user-o fa-lg cyan-text" aria-hidden="true"></i>
                            <%= @recipe.serving %>
                          </h7>
                        </div>

                    </div>  
                  </div>

                  <div class="col"></div>

                  </div>
                  <br />
                </div>
            </div>           
           </br>

        <div class="container">
            <br />
            <div class="row">
            <br />

          <div class="col"></div>

          <div class="col-md-4">
               
            <h5>Ingredients:</h5>
            ----------------------
            <h6><%= @recipe.ingredients.map(&:name).join("<br><br>").html_safe %><h6>
                  
           </div>


        <div class="col"></div>

        <div class="col-md-7">
          <h5>Directions:</h5>
          ----------------------
          <h6><%= @recipe.prep %></h6>
        </div>

        </div>
        <br />
         <% if (signed_in? && current_user.chef) == true %>
        <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
        <%= link_to 'Delete',  @recipe,  method: :delete, data: { confirm: 'Are you sure?' } %>|
        <% end %>
        <%= link_to 'Back', recipes_path %>

        </div>

      </div>
    </div>
  </div>
</div>
