<div class="jumbotron">
  <div class="container">

<p id="notice"><%= notice %></p>


<h6>
<%= link_to 'New Ingredient', new_ingredient_path, class:"fa fa-plus-circle fa-lg cyan-text" %>
</h6>
</br>
<table class="table ">

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr >
        <td><strong><%= link_to ingredient.name, ingredient_path(ingredient) %></strong></td>
        <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Delete', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>